* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root {
    --primary-color: #937DC2;
    --secondary-color: #FFABE1;
    --background-color: #FFE6F7;
    --contrast-color: white;
}

*::selection {
    color: var(--contrast-color);
    background-color: var(--primary-color);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

#countdown {
    display: none;
}

#event-title {
    text-align: center;
    width: 75%;
    margin: auto;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 42px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

#event-description {
    text-align: center;
    color: var(--primary-color);
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

#timer-container {
    margin: auto;
    width: max-content;
}

.timer {
    color: var(--primary-color);
    padding: 30px 10px;
    width: 100px;
    height: 125px;
    box-sizing: border-box;
    float: left;
    border: 4px solid var(--primary-color);
    background-color: var(--contrast-color);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    font-size: 16px;
    text-align: center;
    margin: 2.5px;
    user-select: none;
    overflow: hidden;
}

.timer span {
    font-size: 40px;
    font-weight: 600;
}

#add-event {
    position: absolute;
    left: 0;
    border: 5px solid var(--primary-color);
    border-left: none;
    background-color: var(--contrast-color);
    padding: 16px;
    padding-left: 32px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}

#add-event form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

#add-event h2 {
    color: var(--primary-color);
    margin-bottom: 8px;
}

#add-event form .input {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

#add-event form .input input,
#add-event form .input textarea {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--contrast-color);
    font-family: sans-serif;
    color: var(--primary-color);
    outline: none;
    font-size: 14px;
    padding: 8px 12px;
}

#add-event form .input #description {
    min-height: 48px;
    resize: vertical;
    max-height: 300px;
    padding: 8px 12px;
}

#add-event form .input label {
    font-size: 12px;
    color: var(--primary-color);
    margin-left: 4px;
}

#add-event form #btn-add {
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: var(--contrast-color);
    border: 3px solid transparent;
    border-radius: 8px;
    margin-top: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
}

#add-event form #btn-add:hover {
    background-color: var(--contrast-color);
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
}

#next-events {
    position: absolute;
    right: 0;
    display: none;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

#next-events .event {
    background-color: var(--secondary-color);
    width: 20vw;
    padding: 8px 16px;
    box-sizing: border-box;
    color: var(--primary-color);
    opacity: 0.7;
}

#next-events .event h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 4px;
}

#next-events .event p {
    font-size: 12px;
    opacity: 0.5;
}

#next-events .event:first-child {
    opacity: 1;
    background-color: var(--primary-color);
    position: relative;
    z-index: 1;
    color: var(--contrast-color);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}